*.swp
*.swo
*.*~

#Visual Studio files
*.[Oo]bj
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.user
*.suo

#Tooling
_ReSharper*/
*.resharper
*.swp

#nuget
/src/packages/*/


#build output
/build/*.nupkg
/build/nuget/Acute/tools/*.dll
/build/nuget/Acute/content
/build/nuget/Acute/lib
/build/nuget/Acute/acute.js
/build/nuget/Acute/tools/*.exe
/build/nuget/Acute/tools/*.xml
/build/nuget/Acute/tools/*.targets
/build/nuget/Acute.Library/content
/build/nuget/Acute.Library/lib
