<#@ template language="C#" visibility="internal" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="Acute.Compiler.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

angular.module('<#= ModuleName #>', ['Acute.App'])
    .config([<#= ConfigDependencies.Select(x => x.SingleQuote()).CommaSeparate() #>, function( <#=  Parameters.CommaSeparate()  #>) {
		<#= ConfigBody #>
    }]);
